page-hall-of-fame {
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    ion-icon {
      position: absolute;
      bottom: -13px;
      right: -13px;
      color: #bbdefb;
      background-color: #fff;
      padding: 5px;
      border-radius: 50%;
      box-shadow: 0px 1px 2px #cecece;
    }
    ion-icon::before {
      font-size: 120%;
    }
  }
  p.fame {
    color: color($colors, 'secondary');
    span {
      color: initial;
      font-size: initial;
    }
  }
  .first {
    ion-icon {
      color: #ffd600;
    }
    p.fame{
      font-size: 130%;
    }
  }
  .second {
    ion-icon {
      color: #cfd8dc;
    }
    p.fame {
      font-size: 120%;
    }
  }
  .third {
    ion-icon {
      color: #d84315;
    }
    p.fame {
      font-size: 110%;
    }
  }
  h2.name {
        font-size: 120%;
  }
}
